@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
    font-family: 'Open Sans', sans-serif;
    color: #333333; 
}

body {
    background-color: #333333;
}
/* #333333 = GREY */
/* #b3ff99 = LIGHT GREEN */
.wrapper {
    width: 75%;
    text-align: center;
    margin: auto;
    border: 2px solid #ff6633;
    background-color: white;
}

.workArea{
    width: 80%;
    margin: auto;
    text-align: left;
}

/*Nav Bar*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333; 
}

ul.nav li {
    float: left; 
}

ul.nav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif; 
}

ul.nav li a:hover {
    background-color: #FF9966; 
}

ul.nav1 {
    list-style-type: none;
    margin: 0;
    width: 120px;
    padding: 0;
    background-color: #333333; 
}

ul.nav1 li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif; 
}

ul.nav1 li a:hover {
    background-color: #FF9966; 
}



