@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
    font-family: 'Open Sans', sans-serif;
    color: #333333; 
}

body {
    background-color: #333333;
}

.wrapper {
    width: 75%;
    text-align: center;
    margin: auto;
    border: 2px solid #ff6633;
    background-color: white;
    min-height: 1000px;
}

.workArea{
    width: 80%;
    margin: auto;
    text-align: left;
}

/*Nav Bar*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333; 
}

ul.nav li {
    float: left; 
}

ul.nav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif; 
}

ul.nav li a:hover {
    background-color: #FF9966; 
}

ul.nav1 {
    list-style-type: none;
    margin: 0;
    width: 120px;
    padding: 0;
    background-color: #333333; 
}

ul.nav1 li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif; 
}

ul.nav1 li a:hover {
    background-color: #FF9966; 
}
.example{
    border: 3px solid #333333;
}
/* BUTTONS */

.button {
	background-color: #FF9966;
	color: #333333;
	text-align:center;
    font-size: 15px;
    font-weight: bold;
	height: 40px;
	width: 100px;
    border: none;
    border-radius: 10px;
    
}
.button:hover {
	background-color: #FFAA80;
	transition: 0.2s;
    
}

.fullwidth {
    background-color: #FF9966;
	color: #333333;
	text-align:center;
    font-size: 15px;
    font-weight: bold;
	height: 40px;
	width: 100%;
    border: none;
    border-radius: 10px;
}
.fullwidth:hover {
    background-color: #FFAA80;
	transition: 0.2s;
}
.small {
    background-color: #FF9966;
	color: #333333;
	text-align:center;
    font-size: 15px;
    font-weight: bold;
	height: 30px;
	width: 80px;
    border: none;
    border-radius: 10px;
}
.small:hover {
    background-color: #FFAA80;
	transition: 0.2s;
}
.extrasmall {
    background-color: #FF9966;
	color: #333333;
	text-align:center;
    font-size: 10px;
    font-weight: bold;
	height: 20px;
	width: 60px;
    border: none;
    border-radius: 10px;
}
.extrasmall:hover {
    background-color: #FFAA80;
	transition: 0.2s;
}

.ghostbutton {
    width: 100px;
    height: 40px;
    color: #333333;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    outline: none;
    background-color: #FFFFFF;
}
.ghostbutton:hover {
    background-color: #FFAA80;
	transition: 0.2s;
}
.redbutton {
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    outline: none;
    background-color: #FF4D4D;
}
.redbutton:hover {
    background-color: #FF8080;
	transition: 0.2s;
}
.greenbutton {
    width: 100px;
    height: 40px;
    color: #333333;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    outline: none;
    background-color: #4DFF4D;
}
.greenbutton:hover {
    background-color: #80FF80;
	transition: 0.2s;
}
.darkgreybutton {
    width: 150px;
    height: 40px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    outline: none;
    background-color: #333333;
}
.darkgreybutton:hover {
    background-color: #4D4D4D;
	transition: 0.2s;
}
.icon {
	background-color: #FF9966;
	color: #333333;
	text-align:center;
    font-size: 15px;
    font-weight: bold;
	height: 40px;
	width: 150px;
    border: none;
    border-radius: 10px;
    
}
.icon:hover {
	background-color: #FFAA80;
	transition: 0.2s;
    
}
.buttondisabled {
	background-color: #999999;
	color: #333333;
	text-align:center;
    font-size: 15px;
    font-weight: bold;
	height: 40px;
	width: 150px;
    border: none;
    border-radius: 10px;
    
}

.jumbotron-grey{
    background-color: #999999;
	color: #FFFFFF;
    padding: 20px;
    font-size: 30px;
}
.container-grey{
    font-size: 20px;
    color: #333333;
}
.jumbotron-orange{
    background-color: #FFAA80;
	color: #333333;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
}
.container-orange{
    font-size: 20px;
    color: #333333;
    font-weight: 100;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    background-color: #333333;
    padding: 10px;
    column-gap: 1%;
    width: 100%;
}
.grid-item2 {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.grid-container3 {
    display: grid;
    grid-template-columns: 32.66% 32.66% 32.66%;
    background-color: #333333;
    padding: 10px;
    column-gap: 1%;
    width: 100%;
}
.grid-item3 {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.grid-container4 {
    display: grid;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    background-color: #333333;
    padding: 10px;
    column-gap: 1%;
    width: 100%;
}
.grid-item4 {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
/* IMAGE SLIDESHOWS */
.slideshowContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: #333333;
}

.slideshowDot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FFAA80;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.slideshowDotActive {
  background-color: #ff6633;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.footer {
    display: table;
    table-layout: fixed; 
    background-color: #ff6633;
    height: 20%;
    width: 100%;
    color: #f2f2f2;
    text-align: center;
}

.footer > div {
    display: table-cell;
    
}
